#
# qnap-docker-mdns QPKG Configuration
#

QPKG_NAME=qnap-docker-mdns
QPKG_VER=1.0.0
QPKG_AUTHOR=squizzeak
QPKG_DESC="Automatic Docker container mDNS proxy for QNAP"
QPKG_SERVICE=qnap-docker-mdns.sh
QPKG_SERVICE_PROGRAM=qnap-docker-mdns.sh
QPKG_REQUIRE_STORAGE=0
QPKG_CONFIG=config.local.yaml
